.block-aside {
    background-color: var(--f-aside-color);
    padding: 15px;
    margin: 0;

    &__item {
        width: 100%;
        color: var(--f-text-color);

        & + & {
            margin-top: 10px;
        }

        &-icon {
        }
    }
}
