.ui-element {
    font-size: 14px;
    color: var(--f-text-color);
    list-style: none;
    display: inline-flex;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    user-select: none;
    transition-property: background-color;
    &--folder {
        opacity: 1;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;

            border-left: 4px solid currentColor;
        }
        &:hover {
            background-color: var(--f-active-folder-color);
        }
    }
    &--file {
        opacity: 1;
        &:hover {
            background-color: var(--f-active-color);
            color: var(--f-active-text-color)
        }
    }
    &:active {
        opacity: 0.9;
    }
    &--active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &__icon {
        color: var(--f-icon-color);
        width: 14px;
        margin-right: 5px;
    }
    &__text {}
}

