.section-finder {
    font-family: sans-serif;
    width: 60%;
    height: 600px;
    background-color: var(--f-bg-color);
    border-radius: 10px;
    border: 1px solid var(--f-border-color);
    overflow-y: hidden;
    display: grid;
    grid-template-columns: [aside] 200px [content] 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        'aside control'
        'aside content';
    &__control {
        grid-column: control;
        grid-area: control;
        background-color: var(--f-aside-color);
        border-bottom: 1px solid var(--f-border-color);

    }
    &__aside {
        grid-column: aside;
        grid-area: aside;
        border-right: 1px solid var(--f-border-color);

    }
    &__content {
        grid-column: content;
        grid-area: content;
        background-color: var(--f-bg-color);
    }

    & * {
        margin: 0;
        top: 0;
        box-sizing: border-box;
        &::-webkit-scrollbar-track {
            background: var(--f-separator-color);
        }
        &::-webkit-scrollbar {
            width: 12px;               /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--f-scroll-color);    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
            border: 3px solid var(--f-separator-color);  /* creates padding around scroll thumb */
        }
    }
}

